body {
  background-color: black;
  font-family: ＭＳ Ｐゴシック;
  text-align: center;
}

.wrapper-main {

  width: 1920px;
  padding: 100px 0;
  margin: 0 auto;
  border: 4px solid blue;
}


.wrapper-table {

  width: 1920px;
  padding: 100px 0;
  margin: 0 auto;
  border: 4px solid blue;
}




table {
  background-image: url('assets/img/Maze.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 8700px;
  max-height: 870px;
  width: 870px;
  height: 870px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-collapse: collapse;
}

img {
  position: absolute;
  top: 0;
  left: 950px;
  background-color: white;
  width: 12px;
  height: 12px;
  z-index: 2;
}

.leftBricks {
  position: fixed;
  left: 0;
  top: 0;
  width: 422px;
  height: 100vh;
  background-image: url('assets/img/brick.png');
  background-repeat: repeat-y;
}

.rightBricks {
  position: fixed;
  right: 0;
  top: 0;
  width: 422px;
  height: 100vh;
  background-image: url('assets/img/brick.png');
  background-repeat: repeat-y;
}

.textLeft {
  position: fixed;
  left: 52px;
  width: 316px;
  height: 550px;
  top: 30px;
  border-radius: 20px;
  background-color: #FFBD59;
}

.movement {
  position: relative;
  left: 52px;
  width: 316px;
  height: 300px;
  margin-top: 700px;
  border-radius: 50px;
  background-color: #FFBD59;
}

.movementUp {
  position: absolute;
  top:10px;
  width: 75px;
  height: 75px;
  left:120.5px;
}

.movementUp img {
  position: static;
  width: 75px;
  height: 75px;
  border: 5px solid #590707;
}

.movementDown {
  position: absolute;
  top:100px;
  width: 75px;
  height: 75px;
  left:120.5px;
}

.movementDown img {
  position: static;
  width: 75px;
  height: 75px;
  border: 5px solid #590707;
  transform: rotate(180deg);
}

.movementLeft {
  position: absolute;
  top:100px;
  left: 30px; 
  width: 75px;
  height: 75px;
}

.movementLeft img {
  position: static;
  width: 75px;
  height: 75px;
  border: 5px solid #590707;
  transform: rotate(-90deg);
}

.movementRight {
  position: absolute;
  left: 210px;
  width: 75px;
  height: 75px;
  top:100px;
}

.movementRight img {
  position: static;
  width: 75px;
  height: 75px;
  border: 5px solid #590707;
  transform: rotate(90deg);
}

.characterDesign {
  position: fixed;
  right: 52px;
  width: 310px;
  height: 300px;
  bottom: 300px;
  border-radius: 50px;
  background-color: #590707;
  border: 5px solid #FFBD59;
}

.characterName {
  position: fixed;
  right: 52px;
  width: 316px;
  height: 75px;
  top: 30px;
  border-radius: 125px;
  background-color: #FFBD59;
}


.HealthGrouped {
  position: fixed;
  right: 52px;
  width: 316px;
  height: 158px;
  bottom: 130px;
}

.characterHealthFirstBase {
  height: 158px;
  width: 316px;
  border-radius: 45px;
  background-color: #FFBD59;
}

.characterHealth {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 39px;
  background-color: #9B0202;
  border: 5px solid #000000;
}

.characterItems {
  position: absolute;
  bottom: 30px;
  right: 52px;
  width: 316px;
  height: 80px;
}

.itemOne {
  position: absolute;
  left: 0px;
  width: 65px;
  height: 65px;
  background-color: #590707;
  border: 5px solid #FFBD59;
}

.itemTwo {
  position: absolute;
  left: 79px;
  width: 65px;
  height: 65px;
  background-color: #590707;
  border: 5px solid #FFBD59;
}

.itemThree {
  position: absolute;
  left: 158px;
  width: 65px;
  height: 65px;
  background-color: #590707;
  border: 5px solid #FFBD59;
}

.itemFour {
  position: absolute;
  left: 237px;
  width: 65px;
  height: 65px;
  background-color: #590707;
  border: 5px solid #FFBD59;
}

.additionalInfo {
  margin-top: 100px;
  margin-left: 50px;
  width: 316px;
  padding: 10px;
  background-color: #FFBD59;
  border-radius: 10px;
}

.additionalInfo p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #590707;
}